# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
APP_ENV=development
APP_PORT=3000
#DB_HOST=database #needed only when building docker image
DB_HOST=localhost
DB_PORT=5432
DB_NAME=zenith_db
DB_USER=postgres
DB_PASS=example
POSTGRES_PASSWORD=example
PGADMIN_DEFAULT_EMAIL=admin@zenith.com
PGADMIN_DEFAULT_PASSWORD=zenith
JWT_ACCESS_TOKEN_EXP_IN_SEC=3600
JWT_REFRESH_TOKEN_EXP_IN_SEC=7200
JWT_SECRET=37chars
DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}?connection_limit=5
