# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
APP_ENV=development
APP_PORT=3000
DB_HOST=localhost
#use host below before docker:dev
DOCKER_DB_HOST=zenith_dev_db
DB_PORT=5432
POSTGRES_DB=zenith_db
POSTGRES_USER=messenger
POSTGRES_PASSWORD=example
MESSENGER_PASSWORD=example
PGADMIN_DEFAULT_EMAIL=admin@zenith.com
PGADMIN_DEFAULT_PASSWORD=zenith
JWT_ACCESS_TOKEN_EXP_IN_SEC=3600
JWT_REFRESH_TOKEN_EXP_IN_SEC=7200
JWT_SECRET=37chars
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?connection_limit=5
